<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="digitalSearch-title">
        Digital Library
      </h1>
      <p class="digitalSearch-desc">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not
        only five centuries, but also the leap into electronic typesetting, of Letraset sheets containing Lorem Ipsum
        passages, publishing software like Aldus PageMaker including versions of m Ipsum.
      </p>
      <div class="digitalSearch-fields">
        <form action="">
          <input class="digitalSearch-fields-input" type="text" name="bookName" placeholder="" autocomplete="off"/>
          <button type="submit" class="digitalSearch-fields-btn" (click)="onSubmitSearch()">
            Search
          </button>
          <div class="digitalSearch-fields--favoriteIcon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 15 15">
              <path id="Heart"
                d="M14.975,6.3c-.219-2.592-1.925-4.473-4.059-4.473A3.991,3.991,0,0,0,7.459,3.969,3.854,3.854,0,0,0,4.084,1.826C1.95,1.826.244,3.707.025,6.3A4.951,4.951,0,0,0,.153,8,7.413,7.413,0,0,0,2.23,11.725l5.226,5.1,5.316-5.1A7.414,7.414,0,0,0,14.848,8,4.962,4.962,0,0,0,14.975,6.3Zm-.689,1.557a6.779,6.779,0,0,1-1.9,3.408L7.459,15.991,2.617,11.266a6.783,6.783,0,0,1-1.9-3.41A4.326,4.326,0,0,1,.594,6.4l0-.031C.786,4.1,2.252,2.447,4.084,2.447A3.4,3.4,0,0,1,7.192,4.778l.266.677.266-.677a3.5,3.5,0,0,1,3.193-2.331c1.832,0,3.3,1.648,3.489,3.949A4.321,4.321,0,0,1,14.286,7.856Z"
                transform="translate(0 -1.826)" fill="#666" />
            </svg>
            <span class="digitalSearch-fields-favoriteNumber">16</span>
            <span>Favorite</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
