<div class="container">
  <!-- <div class="row"> -->
  <!-- <div class="col-12">
        <form (ngSubmit)="getFavoriteList()" #formEle="ngForm">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-12">
                    <label i18n="@@lblsearch" for="bookName"> Search </label>
                    <input type="text"
                           class="Favorite-Search-input"
                           i18n-placeholder="@@lblsearch"
                           name="searchName"
                           id="bookName"
                           placeholder="Search"
                           ngModel/>
                </div>
                <div class="col-md-2 col-sm-3 col-6">
                    <label i18n="@@lbldateFrom" for="dateFrom">DateFrom</label>
                    <div class="input-group">
                        <input class="form-control Favorite-Search-input"
                               placeholder="yyyy-mm-dd"
                               name="dateFrom"
                               ngbDatepicker
                               #from="ngbDatepicker"
                               ngModel>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar Favorite-Search-calenderBtn" (click)="from.toggle()" type="button">
                              <img class="img-fluid" src="./assets/images/11.png" alt="bookDetailsImage">
                          </button>
                        </div>
                      </div>
                </div>
                <div class="col-md-2 col-sm-3 col-6">
                    <label i18n="@@lbldateTo"  for="dateTo">DateTo</label>
                    <div class="input-group">
                        <input class="form-control
                               Favorite-Search-input"
                               placeholder="yyyy-mm-dd"
                               name="dateTo"
                               ngbDatepicker
                               #to="ngbDatepicker"
                               ngModel>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar Favorite-Search-calenderBtn" (click)="to.toggle()" type="button">
                              <img class="img-fluid" src="./assets/images/11.png" alt="bookDetailsImage">
                          </button>
                        </div>
                      </div>
                </div>
                <div class="col-md-2 col-sm-12 col-12">
                    <label for="dateTo"class="Favorite-Search-sendLabel"> Date To </label>
                    <button i18n="@@lblsearch" class="Favorite-Search-btn">Search</button>
                </div>
            </div>
            <div class="row">
              <div class="form-group col-md-2">
                <label for="inputState" i18n="@@lbl_list">List</label>
                <select class="form-control" (change)="onChangePageSize($event)">
                  <option selected="selected" [value]="5">5</option>
                  <option [value]="10">10</option>
                  <option [value]="15">15</option>
                </select>
              </div>
          </div>
        </form>
    </div> -->
  <!-- </div> -->
  <div class="row">
    <div class="col-12">
      <!-- <ng-template #contentDelete let-c="close('a')" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title" i18n="@@h4_msg_title">Adding new Comment</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" *ngIf="isAdded">
          <p i18n="@@p_msg_adding_comment">Your comment has been added</p>
        </div>
        <div class="modal-body" *ngIf="!isAdded">
          <p i18n="@@p_msg_no_comment"> please enter Your comment </p>
        </div>
      </ng-template> -->
      <form (ngSubmit)="sendFavorite()" #formEle="ngForm">
        <div class="row">
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-hover Favorite-table table-borderless">
                <thead class="Favorite-table-head">
                  <tr>
                    <th class="Favorite-table-headItem" i18n="@@lbl_All">All</th>
                    <th class="Favorite-table-headItem" i18n="@@lbl_Title">Title</th>
                    <th class="Favorite-table-headItem hideEle">الناشر</th>
                    <th class="Favorite-table-headItem" i18n="@@lbl_Year">Year</th>
                    <th class="Favorite-table-headItem hideEle" i18n="@@lbl_Date">Date</th>
                    <th class="Favorite-table-headItem">
                      <span class="hideheadEle" i18n="@@lbl_Action">
                        Action
                      </span>
                    </th>
                  </tr>
                </thead>

                <tbody class="Favorite-table-body">
                  <tr *ngFor="let dataItem of allData.hits.hits">
                    <td>
                      <label class="controlRC controlRC-radio d-block">
                        <!-- First radio -->
                        <input type="checkbox" name="radio" checked="checked" ngModel />
                        <div class="controlRC_indicator"></div>
                      </label>
                    </td>
                    <td>
                      <p class="Favorite-table-title">
                        {{dataItem._source.itemListPageInformation.title}}
                      </p>
                    </td>
                    <td class="hideEle">
                      <p class="Favorite-table-name">
                        {{getPublisher(dataItem)}}
                      </p>
                    </td>
                    <td>
                      <div class="Favorite-table-year">
                        {{dataItem._source.itemListPageInformation.createdDate| date: 'yyyy' }}
                      </div>
                    </td>
                    <td class="hideEle">
                      <div class="Favorite-table-date">
                        {{dataItem._source.itemListPageInformation.createdDate}}
                      </div>
                    </td>
                    <td>
                      <div class="Favorite-table-delete" (click)="removeFav(dataItem._id,  dataItem)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="9.928" height="12.764"
                          viewBox="0 0 9.928 12.764">
                          <path id="ic_delete_24px"
                            d="M5.709,14.346a1.422,1.422,0,0,0,1.418,1.418H12.8a1.422,1.422,0,0,0,1.418-1.418V5.836H5.709ZM14.928,3.709H12.446L11.737,3H8.191l-.709.709H5V5.127h9.928Z"
                            transform="translate(-5 -3)" fill="#d2d2d2" />
                        </svg>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- <div class="Favorite-pagination">
              <ngb-pagination class="d-flex justify-content-center searchNk-paginate" (pageChange)="paginate($event)"
                [collectionSize]="collectionSizeT" [pageSize]="pageSize" [(page)]="pageIndex" [maxSize]="2"
                [rotate]="true" [boundaryLinks]="true">
              </ngb-pagination>
            </div>
            <div class="paginationContainer">
              <ngb-pagination class="d-flex justify-content-center searchNk-paginate" (pageChange)="paginate($event)"
                [collectionSize]="9" [pageSize]="5" [page]="1" [maxSize]="4" [rotate]="true" [boundaryLinks]="true">
              </ngb-pagination>
            </div> -->
          </div>
          <div class="col-12">
            <div class="Favorite-sendToEmail">
              <button class="Favorite-btn Favorite-btnDownload">Download</button>
              <input type="email" class="Favorite-input" name="email" placeholder="email@domainname.com" ngModel />
              <button class="Favorite-btn Favorite-btnEmail">Send To Email</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
