<a [routerLink]="['']" class="gResultNK-title"  i18n="@@a_Back_results">Back to results</a>
<section class="bookDetails">
    <app-details></app-details>
</section>
<section class="rateAndReview">
        <!-- <h3 class="first">Basic {{val1}}</h3>
        <p-rating [(ngModel)]="val1"></p-rating> -->
    <app-review-rating></app-review-rating>
</section>
<section class="addReview">
     <app-add-review></app-add-review>
</section>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5df215031246bf3f"></script>
