<!-- the opacity black layer -->
<!-- <p-blockUI [blocked]="blockedDocument"></p-blockUI> -->
<section class="searchNK">
  <p-toast></p-toast>
  <header class="searchNK-header">
    <div class="row">
      <div class="col-3 col-md-2 col-lg-2">
        <h3 class="searchNK-header-title" i18n="@@lblsearch">Search </h3>
      </div>
      <div class="col-9 col-md-10 col-lg-10 d-flex justify-content-end">
        <div class="searchNK-savedSearchContainer" [ngClass]="{'searchNK-saveSearchClicked': clicked}">
          <button class="btn searchNK-savedSearch favorite-btn" (click)="clicked=!clicked"
            [disabled]="isSavedSearchDisabled">
            <svg xmlns="http://www.w3.org/2000/svg" id="save" width="15" height="15" viewBox="0 0 15 15">
              <path id="Path_7" data-name="Path 7"
                d="M12.817,0H.5V15h15V2.628ZM11.437.612V4.9h-7.5V.612ZM3.312,14.388V8.571h9.062v5.816Zm11.563,0H13V7.959H2.687v6.429H1.125V.612H3.312v4.9h8.75V.612h.5l2.317,2.27Z"
                transform="translate(-0.5)" fill="#666" />
              <path id="Path_8" data-name="Path 8"
                d="M12.863,31.727h2.544a.363.363,0,1,0,0-.727H12.863a.363.363,0,1,0,0,.727Z"
                transform="translate(-8.891 -21.586)" fill="#666" />
              <path id="Path_9" data-name="Path 9" d="M16.5,35H12.863a.363.363,0,1,0,0,.727H16.5a.363.363,0,0,0,0-.727Z"
                transform="translate(-8.954 -24.371)" fill="#666" />
              <path id="Path_10" data-name="Path 10"
                d="M25.605,35.113a.369.369,0,0,0,0,.516.374.374,0,0,0,.258.105.364.364,0,1,0-.258-.621Z"
                transform="translate(-17.743 -24.379)" fill="#666" />
              <path id="Path_11" data-name="Path 11" d="M29.681,4H27.5V7.634h2.181Zm-.727,2.907h-.727V4.727h.727Z"
                transform="translate(-19.259 -2.546)" fill="#666" />
            </svg>
            <span class="small-text" i18n="@@lblsavedsearch"> Save Search </span>
          </button>
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="8.707" height="5.064" viewBox="0 0 8.707 5.064">
                <path id="Arrow_Down" data-name="Arrow Down" d="M4,0,0,3.925,4,8"
                  transform="translate(0.357 4.357) rotate(-90)" fill="none" stroke="#333" stroke-width="1" />
              </svg>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <h3 class="dropdown-menu-title" i18n="@@lblsavedsearch">Save Search</h3>
              <ul class="searchNK-savedSearchItem" *ngIf="getQueryValues.length >=0">
                <li *ngFor="let getQueryValue of getQueryValues[0]">
                  <div class="searchNK-savedSearch-item">
                    <span *ngIf="getQueryValue.query_name.length > 15"
                      (click)="onSavedSearchClicked(getQueryValue.query_syntax)">
                      {{ (getQueryValue.query_name | slice:0:15)+'..'}}
                    </span>
                    <span *ngIf="getQueryValue.query_name.length < 15"
                      (click)="onSavedSearchClicked(getQueryValue.query_syntax)">
                      {{ getQueryValue.query_name }}
                    </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="7.707" height="7.707" viewBox="0 0 7.707 7.707"
                      (click)="deleteSearchItem(getQueryValue.query_name, getQueryValue.id)">
                      <g id="Group_366" data-name="Group 366" transform="translate(-133.938 -59.417)">
                        <line id="Line_26" data-name="Line 26" x2="7" y2="7" transform="translate(134.291 59.771)"
                          fill="none" stroke="#999" stroke-width="1" />
                        <line id="Line_27" data-name="Line 27" x1="7" y2="7" transform="translate(134.291 59.771)"
                          fill="none" stroke="#999" stroke-width="1" />
                      </g>
                    </svg>
                  </div>
                </li>
              </ul>
              <div *ngIf="getQueryValues.length ==0" i18n="@@lblno_save_search_yet"> no save search yet</div>
            </div>
          </div>
        </div>

        <div class="searchNK-savedSearchInput" [ngClass]="{'searchNK-saveSearchClicked': !clicked}"
          style="border:0px red solid">
          <form (ngSubmit)="getSaveSearchInput()" #formEle="ngForm">
            <input type="text" class="form-control" name="savedSearchInput" ngModel>
            <button type="submit" class="btn btn-primary searchNK-searchBtn" i18n="@@lblSave">Save</button>
          </form>
          <span (click)="ToggleClass()"> x </span>
        </div>
        <div class="border-item"></div>

        <a [routerLink]="['/favorite']" routerLinkActive="router-link-active"
          class="btn btn-link btn-icon favorite-btn">
          <span class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="34" height="26" viewBox="0 0 28 20">
              <g data-name="Group 56" transform="translate(-1076.221 -322)">
                <path data-name="Path 3"
                  d="M14.975,6.3c-.219-2.592-1.925-4.473-4.059-4.473A3.991,3.991,0,0,0,7.459,3.969,3.854,3.854,0,0,0,4.084,1.826C1.95,1.826.244,3.707.025,6.3A4.951,4.951,0,0,0,.153,8,7.413,7.413,0,0,0,2.23,11.725l5.226,5.1,5.316-5.1A7.414,7.414,0,0,0,14.848,8,4.962,4.962,0,0,0,14.975,6.3Zm-.689,1.557a6.779,6.779,0,0,1-1.9,3.408L7.459,15.991,2.617,11.266a6.783,6.783,0,0,1-1.9-3.41A4.326,4.326,0,0,1,.594,6.4l0-.031C.786,4.1,2.252,2.447,4.084,2.447A3.4,3.4,0,0,1,7.192,4.778l.266.677.266-.677a3.5,3.5,0,0,1,3.193-2.331c1.832,0,3.3,1.648,3.489,3.949A4.321,4.321,0,0,1,14.286,7.856Z"
                  transform="translate(1076.22 325.174)" fill="#666" />
                <!-- <circle data-name="Ellipse 2" cx="8" cy="8" r="8" transform="translate(1088.221 322)" fill="#f7941e" />
                <text data-name="26" transform="translate(1096.221 333)" fill="#fff" font-size="10"
                  font-family="SegoeUI, Segoe UI">
                  <tspan *ngIf="lang == 'ar-SA' && favoriteBadge <= 9" x="2.591" y="0">{{favoriteBadge}}</tspan>
                  <tspan *ngIf="lang == 'ar-SA' && favoriteBadge > 9" x="5.391" y="0">{{favoriteBadge}}</tspan>
                  <tspan *ngIf="lang != 'ar-SA' && favoriteBadge <= 9" x="-2.591" y="0">{{favoriteBadge}}</tspan>
                  <tspan *ngIf="lang != 'ar-SA' && favoriteBadge > 9" x="-5.391" y="0">{{favoriteBadge}}</tspan>
                </text> -->
              </g>
            </svg>
          </span>
          <span class="badge badge-light">{{favoriteBadge}}</span>
          <span class="small-text" i18n="@@lbl_favorite">
            Favorite
          </span>
        </a>
      </div>
    </div>
  </header>

  <app-criteria class="searchNK-criteria"></app-criteria>

  <p-progressSpinner *ngIf="isLoading" [style]="{width: '100px', height: '100px'}"
    class="d-block my-5 py-5 text-center">
  </p-progressSpinner>

  <!-- <ng-container *ngIf="isNoData">
    <div class="searchNK-nodata no-data">No data found</div>
  </ng-container> -->

  <router-outlet></router-outlet>

</section>
